*.log
**/*.log

# Ignore all text files
*.txt
**/*.txt

# Ignore all png file
*.png
**/*.png

# Ignore macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Ignore python file
__pycache__/
*.pyc